.details-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 600px;
  height: 400px;
  padding: 10px;
}

.description {
  line-height: 2;
  margin: 40px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .details-page {
    background-color: rgb(247, 7, 123);
    width: 20rem auto;
    display: flex;
    flex-wrap: wrap;
  }

  .img {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }

  .text-center {
    color: #fff;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 920px) {
  .details-page {
    display: block;
  }

  .img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
