  .details-page {
    background-color: rgb(247, 7, 123);
    width: 23.3rem;
    display: block;
    margin-top:-19px;
  }

  .description {
    line-height: 2;
    margin: 40px;
    color: #fff;
  }

  .img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 80px;
  }

  .img-detail {
    background-color: rgb(190, 4, 107);
    justify-content: center;
    width: 100%;
  }

  .instr {
    background-color: rgb(247, 7, 123);
  }

  .text {
    text-align: center;
    color: #fff;
  }

  .text-center {
    color: #fff;
    display: flex;
    justify-content: center;
  }
