.meal-container {
  background-color: rgb(223, 4, 110);
  border-radius: 20px;
  height: 300px;
}

.meal-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  width: 250px;
  height: 300px;
  font-size: 16px;
  border: solid rgb(177, 173, 173);
  border-radius: 10px;
}

.image {
  width: 230px;
  height: 230px;
  padding: 10px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
}

.title {
  font-size: 20px;
  text-align: center;
  color: white;
}

.cards {
  text-decoration: none;
}

.loading {
  color: rgb(238, 39, 105);
}

@media only screen and (max-width: 692px) {
  .meal-container {
    background-color: rgb(223, 4, 110);
    border-radius: 20px;
    height: 350px;
    border: solid 1px #ccc;
    transition: transform 0.2s ease-in-out;
  }

  .meal-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .cards {
    text-decoration: none;
  }

  .meal-card {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin: 5px auto;
    border: none;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .fade-in.is-visible {
    opacity: 1;
    transform: none;
  }

  .image {
    width: 300px;
    border-radius: 20px;
  }

  .container {
    margin: 0;
  }
}

@media only screen and (min-width: 692px) and (max-width: 768px) {
  .meal-card {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin: 5px auto;
    border: none;
  }

  .meal-card > * {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .meal-card > *:nth-child(2n) {
    margin-right: 0;
  }

  .image {
    width: 300px;
  }

  .title {
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
  }

  .container {
    margin: 0;
  }
}
