.nav {
    background-color: rgb(136, 170, 221);
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 0 20px;
    justify-content: space-between;
  }
  
  .heading,
  .nav h1 {
    padding-top: 25px;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    color: rgb(68, 66, 66);
    letter-spacing: 3px;
  }
  
  .heading {
    text-decoration: none;
  }
  
  @media only screen and (max-width: 600px) {
    .nav {
      flex-direction: column;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
  }
  