.nav {
  background-color: rgb(247, 7, 123);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;
  margin-top: -50px;
  gap: 20px;
  color: white;
}

.heading,
.nav h1 {
  padding-top: 25px;
  font-size: xx-large;
  font-family: 'Lobster', cursive;
  color: rgb(68, 66, 66);
  letter-spacing: 3px;
}

.heading {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .nav {
    height: 5rem;
  }

  .heading {
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    color: #fff;
  }

  .home-kitchen {
    display: flex;
    flex-direction: row;
  }

  .back {
    color: #fff;
    font-size: 30px;
    margin-bottom: -5px;
    margin-left: 5px;
  }

  .icons1 {
    margin-top: 0;
    padding: 10px;
    gap: 20px;
    color: white;
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
}
